#menuHeader { color:# 000; font-size: 20px; font-weight:bold; font-family:' Lucida Grande', Arial, Sans;}
#formHeader { color:# 000; font-size: 20px; font-weight:bold; font-family:' Lucida Grande', Arial, Sans;}


.x-tabpanel-child, x-panel-footer {
        border-bottom: 0px !important;
}

.x-grid-row-selected td, .x-grid-locked .x-grid-row-selected td{
	background-color: #4f82bd !important;
	color: white;
}

.ok-row .x-grid-cell { 
    background-color: #C3FDB8; 
} 

.error-row .x-grid-cell { 
    background-color: #FDD7E4; 
} 
 
.warning-row .x-grid-cell { 
    background-color: #FFFFC2;  
}



.logoutbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
	background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background-color:#ffec64;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #ffaa22;
	display:inline-block;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:65px;
	width:86px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffee66;
}
.logoutbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
	background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
	background-color:#ffab23;
}
.logoutbutton:active {
	position:relative;
	top:1px;
}

.menubutton {
  font-family: Arial;
  color:#ffffff;
  font-size: 10px;
  background: #4f82bd;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}

.menubutton:hover {
  background: #466da1;
  text-decoration: none;
}

.google_button {
	margin-left: 10px;
}

@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }
}

.rptFiltertext {
  font-family: Arial;
  color:#4f82bd;
  font-size: 11px;
  text-decoration: none;
}
